
.container{
    height: auto;
    width: 100vW;
    display: flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 10%;
    
}

.footerItems{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    

}

.header button{
    border-radius: 4px;
    background: black;
    padding: 5px 15px;
    margin: 5px;
    color:#fff;
    border:none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    height: 40px;
    width: 100px;
}

.details{
    display: flex;
    flex-direction: row ;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: flex-start;
}

.links{
    display: flex;
    flex-direction: column ;
    padding-right:8%;
    width: 25%;
}

.links a {
    color: black;
    text-decoration: none ;
    cursor: pointer;  

}

.license{
    display: flex;
    flex-direction: column;
    width: 25%;
    
}

.licenseItem{
    display: flex;
    flex-direction: row wrap;
    width: 80%;
}

.licenseItem img{
    width: 30%;
    height: auto;
}

.media{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-right: 8%;
}

.container hr{
    display: flex;
    width: 100vW;
}