.container{
    box-shadow: 5px 5px 10px rgb(189, 189, 189);
    width: 200px;
    height: 200px;
    position: relative;
    
}

.container img{
    max-width: 100%;
    max-height:100%;
    display: block;
}



.container h3{
    color: black;
    /* margin: 30px 20px 20px; */
    text-align: center !important;
    /* text-decoration-style: none; */
    position: absolute;
    
}

.container h3 a {
    text-decoration: none;
}





