*{
    direction: rtl;
    text-align: right;
}

.header{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 0 0 0 50px;
    /* border: black solid 0.5px; */
    /* border-radius: 5px; */
    margin: 20px 20px;
}

.listContainer{
    padding-top: 7px;
}

.list li img{
    width: 50px;
    /* border-radius: 20%;
    background-color: #fff; */
    padding:10px;
    margin-top: 0px !important;
    
}
/* .list li img:hover{
  background-color: rgb(88, 148, 90);
  
} */

.list{
    display: flex;
    list-style: none; 
}

.list li{
    cursor: pointer;
    color: black;
    font-weight: bold;
}



.list li a{
    padding: 15px;
    color: black;
    text-decoration: none; 
    align-items: center;   
}

.list li a:hover{
    color:  rgb(88, 148, 90);
}


.profileItems{
    display: flex;
    list-style: none;
}

.profileItems li{
    padding: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.profileItems li a{
    color: black;
    text-decoration: none;
    border: black solid 0.5px;
    border-radius: 5px;
    padding: 10px;
}

.profileItems li a:hover{
    color:  rgb(88, 148, 90);
}

