.container{
    display: flex;
    flex-direction:column ;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5rem calc((100vW - 1100px) / 2);
    background-color: #f6f6f6;
}

.container p{
    font-family: "Black";
    font-size: 32px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.head{
    display: flex;
    flex-direction:  row ;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;

}

.imgContainer{
    width: 50%;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
}

.mainImg{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 30%;
}

.mainImg img{
    height: 85%;
    border-bottom-left-radius: 10em;
    border-bottom-right-radius: 10em;
    box-shadow: -10px -10px 8px -13px #333333, 10px -10px 8px -13px #333333; 
    border: 1px solid #222222;
    border-bottom: none;
   
}

.mainImg span{
    background-color:rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto ;
    padding: 10px;
    font-family: 'Medium';
    margin-bottom: -8%;
    z-index: 20;
    backdrop-filter: blur(5px);
}

.nextImg{
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    box-shadow: -10px 10px 8px -13px #333333, 10px 10px 8px -13px #333333; 
    border: 1px solid #222222;
    border-top: none;
    margin-left: -45%;
    margin-top: 5%;
    height: 85%;
    opacity: 0.35;
    width: 50%;
}

.arrows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    margin-left: -1%;
    margin-top: -10%;
}


/* codes for right arrow */
.right{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 10%;
}

.right span{
    height: 25px;
    width: 25px;
    background-color: rgba(97, 96, 96, 0.5);
    border-radius: 50%;
    position: absolute;
    margin-right: -7px;
    
}

.rightArrow{
    display:inline-block;
}

.rightArrow:before{
    content:'';
    height:2px;
    width:40px;
    background-color:#000;
    display:block;
    position:relative;
    top:10px;
    transition:0.2s ease-in-out;
} 

.rightArrow:after{
    content:'';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
}

.rightArrow:hover:before{
    width:60px;
}

/* codes for left arrow */

.left{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 10%;
}

.left span{
    height: 25px;
    width: 25px;
    background-color: rgba(97, 96, 96, 0.5);
    border-radius: 50%;
    position: absolute;
    margin-right: 25px;
    
}

.leftArrow{
    display:inline-block;
}

.leftArrow:before{
    content:'';
    height:2px;
    width:40px;
    background-color:#000;
    display:block;
    position:relative;
    top:10px;
    transition:0.2s ease-in-out;

} 

.leftArrow:after{
    content:'';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 80%;
}

.leftArrow:hover:before{
    width:60px;
}



table {
    border-collapse:separate; 
    border-spacing: 0 0.5em;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: 'Normal';
}

.reserveBtn{
    padding: 8px;
    background-color:black;
    width: 8vW;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    font-family: 'Normal';
}

hr{
    width: 100%;
}
.reservation{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 100%;
}













