.container{
    display: flex;
    flex-direction:column ;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    
}

.head{
    display: flex;
    flex-direction:  row ;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;

}

hr{
    width: 100%;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    width: auto;
    border: 0.5px black solid;
    border-radius: 5px;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color:rgba(91, 80, 62, 0.6) !important;
}





.reserveBtn{
    padding: 8px;
    background-color:black;
    width: 8vW;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
}

table {
    border-collapse:separate; 
    border-spacing: 0 0.5em;
}


.reservation{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 100%;
}

