.container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem calc((100vW - 1100px) / 2);
}

.title{
    font-family: 'Bold';
    line-height: 10px;
}

.t2{
    padding: 0.5rem calc((100vW - 1100px) / 2);
}
.t2:before {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 20%;
    left: 0.5em;
    margin-right: -15%;
    
    
}  

.itemContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    margin-right: auto;
    margin-left: auto;
    
}

.item{
    margin-top: 20px;
    width: 25%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.item img{
    width:100%;
    height: auto;
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    box-shadow: -10px 10px 8px -13px #333333, 10px 10px 8px -13px #333333; 
    border: 1px solid #222222;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.info{
    font-family: 'Light';
    background-color: rgba(251, 248, 248, 0.5);
    width: 90%;
    margin-top: 140%;
    position: absolute;
    box-shadow: -10px 10px 8px -12px #606060, 10px 10px 8px -12px #606060; 
    padding: 10px;
    backdrop-filter: blur(5px);
    text-decoration: none;
    color: #000;
}

.info h3{
    line-height: 5px;
}

.info span{
    color: #000;
}
