.container{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 5% ;
}



.arrow{
    
    border-top-right-radius: 20px;
    padding: 2%;
    background-color: rgb(23, 23, 23);
    display: flex;
    align-content: center;
}


.info{
    padding: 2%;
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    font-family: "Normal";
    font-size: medium;
}

.text{
    margin-right: 5%;
}

.col2{
    font-family: "UltraLight";
    font-size: medium;
    margin-top: 1%;
    color: #b3b2b2; 
}

.chapterDetail{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #fff;
    width: 100%;
}

.episodeContainer{
    background-color: rgb(86, 85, 85);
    width: 98%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1%;
    display: grid;
    gap: 1rem;
    justify-content: flex-start;
}

@media (min-width: 600px) {
    .itemContainer { grid-template-columns: repeat(3, 1fr); }
}


@media (min-width: 900px) {
    .itemContainer { grid-template-columns: repeat(4, 1fr); }
}

.episodeItem{
    display: flex;
    background-color: rgb(23, 23, 23);;
    border-radius: 20px;
    color: #ffff;
    padding: 10px;
    font-family: "Light";
    font-size: small;
    cursor: pointer;
}

.episodeModal{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.805);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

.closeIcon{
    margin-bottom: 5%;
    margin-right: 5%;
    cursor: pointer;
}