
.container {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
    background-color: rgba(85, 107, 47 , 0.5);
    border-radius: 5px;
    
  }
  
  .container img {
    width: 35%;
    display: flex;
    margin : 40px 40px;
  }
  
  .textContainer {
    position: absolute;
    top: 300px;
    left: 70px;
  }
  
  .textContainer h1 {
    font-size: 5rem;
    color: #f5efe8;
  }
  
  .textContainer p {
    font-size: 2.5rem;
    margin-top: 30px;
    color: #f5efe8;
  }
  
  .textContainer span {
    color: #47230d;
    font-weight: bold;
  }
  