.container{
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    background-color: #676666a3;
    border: black solid 0.1px;

}

.podImg{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
}

.podTitle{
    align-self: center;
}

.podTitle a{
    color: #fff;
    text-decoration: none;
    font-family: "Bold";
}

.podNarrator{
    align-self: center;
    font-family: "Normal";
    color: #fff;
    margin-top: -2%;
}